/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* General Styles */
body{
    margin: 0;
    background-color: rgb(219, 227, 238);
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
}

a{
    text-decoration: none;
    color: inherit;
}
.section {
    padding: 1rem 4rem;
}
.button{
    padding: 1rem;
    border-radius: 10px;
    transition: 0.5s;
    background-color: rgb(219, 227, 238);
    border: solid 1px black;
}
.button:hover{
    box-shadow: 2px 2px 4px rgb(71, 82, 99);
}


/* header */
div.header .menu #close,
div.header .menu #mobile {
    display: none;
}
div.header {
    height: 4rem;
    padding: 1rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(219, 227, 238);
    transition: .5s;
}

div.header .logo img{
    height: 4rem;
}
div.header .menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
div.header .menu ul li {
    list-style: none;
    padding: 1rem;
}
div.header .menu ul li a {
    text-decoration: none;
    transition: .5s;
}
div.header .menu ul li a:hover{
    font-weight: 700;
    border-bottom: solid 1px rgb(0, 0, 0);
}

/* Hero Styles */
div.hero {
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
    height: 90vh;
    transition: ease-in;
}

div.subhero#hero-image{
    width: 50%;
    padding: 2rem 2rem 3rem;
    justify-content: center;
    text-align: center;
}

div.hero .subhero img{
    width: 80%;
}

div.subhero#hero-content {
    width: 50%;
    padding: 5rem 2rem 3rem;
    justify-content: center;
    text-align: flex-start;
}
div.subhero#hero-content .media-icons{
    display: flex;
    justify-content: flex-start;
    font-size: 2rem;
    padding-top: 1rem;
}

div.subhero#hero-content .media-icons i{
    padding-right: 8px;
}

div.hero-buttons {
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
}

/* About styles */
div.info{
    display: flex;
}

div.info .about,
div.info .info-img {
    padding: 2rem 5rem;
    width: 50%;
}

/* Project styles */
div.project {
    padding-top: 4rem;
}
div.project h2{
    display: flex;
    justify-content: center;
    align-self: center;
    padding-bottom: 2rem;
}

div.project-clone {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

div.project .project-clone .clone {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px rgb(0, 0, 0);
    border-radius: 10px;
    margin: 1rem;
    transition: .5s;
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
    
}
div.project .project-clone .clone:hover{
    box-shadow: 1px 2px 5px rgb(0, 0, 0);
}
div.project .project-clone .clone .code-demo{
    display: flex;
}
div.project .project-clone .clone .code-demo .button{
    margin: 1rem;
}

/* Professional Profile */
div.profile h2 {
    padding-left: 4rem;
}
div.prof-info{
    width: 100%;
    display: flex;
    line-height: 8px;
}
div.prof-info .progress-stack{
    width: 60%;
    padding-right: 1rem;
}
div.prof-info .tech-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}
div.prof-info .progress{
    border-radius: 10px;
    border: solid 1px rgb(0, 0, 0);
}
div.prof-info .progress .js
 {
    border-radius: 10px;
    width: 70%;
    background-color: rgb(0, 0, 0);
}
div.prof-info .progress .jquery
 {
    border-radius: 10px;
    width: 70%;
    background-color: rgb(0, 0, 0);
}
div.prof-info .progress .css
 {
    border-radius: 10px;
    width: 90%;
    background-color: rgb(0, 0, 0);
}
div.prof-info .progress .react
 {
    border-radius: 10px;
    width: 60%;
    background-color: rgb(0, 0, 0);
}
div.prof-info .progress .express
 {
    border-radius: 10px;
    width: 50%;
    background-color: rgb(0, 0, 0);
}
div.prof-info .progress .node
 {
    border-radius: 10px;
    width: 50%;
    background-color: rgb(0, 0, 0);
}
div.prof-info .progress .github
 {
    border-radius: 10px;
    width: 70%;
    background-color: rgb(0, 0, 0);
}

/* Contact Info */
div.contact .sub-contact {
    display: flex;
}
div.contact .sub-contact .contact-info{
    padding: 2rem 2rem;
    width: 60%;
}
div.contact .sub-contact .contact-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding: 2rem;
}
div.contact .sub-contact .contact-image img{
    border: solid 1px rgb(0, 0, 0);
    border-radius: 60%;
    width: 10rem;
}
div.contact .rights{
    padding: 2rem;
    margin: auto;
    text-align: center;
}



/* *************MEDIA QUERIES*********** */


@media screen and (max-width: 767px) {
    /* div.open{
        height: auto;
        top: 0;
        left: 0;
        padding: 1rem;
        position: fixed;
        right: 0;
    }
    div.header .menu #mobile {
        display: initial;
    }
    div.header .menu ul.open-menu {
        display: flex;
        flex-direction: column-reverse;
    }
    div.header .menu #close  {
        display: initial;
    }*/
}